.buttons
    .buttons_left
        button#run Run 
        button#step Step
    .buttons_middle
        p.slow Slow
        p.fast Fast
        #slider
    .buttons_right
        button#clear Clear
        button#randomize Randomize
.board
    canvas(width=800, height=600)
